@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --border: #27272a;
}

html {
  background-color: var(--background);
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
